<h1>ログイン</h1>
<div class="row" id = "login">
  <div class="col-sm-12">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :Eメール %>
      <%= f.email_field :email, class: "form_item" %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: "form_item" %>

      <%= f.submit "Log in", class: "btn btn-primary ,form_item" %>
    <% end %>
  </div>
</div>