<div id = "show">
    <div class = "row">
        <div class = "col-sm-4">
            <section class="user_info">
                <h3 class = "user_name">
                    <%= @user.name %>
                </h3>
                <h3>ユーザー登録情報変更</h3>
                <p class = "edit_alert">項目を編集後<br>Update Userボタンを押してください</p>
                <%= render partial:"form", locals: {user: @user} %> 
            </section>
        </div>
        <div class = "col-sm-8">
            <section class="user_souvenirs">
                <% if @user.souvenirs.any? %>
                    <%= will_paginate  @souvenirs %>
                        <%= render partial:"shared/souvenir", collection: @souvenirs %> 
                    <%= will_paginate  @souvenirs %>
                <% else %>
                    <p>初めての投稿をしてみませんか？</p>
                    <button type="button" class="btn btn-info"><%= link_to "おすすめのお土産を投稿する",new_souvenir_path %></button>
                <% end %>
            </section>
        </div>
    </div>
</div>